@keyframes zoom {
    from {
        transform: scale(1.2);
    }
}

@keyframes rzoom {
    to {
        transform: scale(1.2);
    }
}

main>:first-child {
    overflow: hidden;
}

main>:first-child>* {
    align-items: center;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: zoom;
    display: flex;
    justify-content: space-between;
}

main>:first-child.fade>* {
    animation-name: rzoom;
}

main>:first-child h1 {
    color: seagreen;
}