header {
    align-items: center;
    background: rgb(255 255 255 / .5);
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 1em 4em;
    justify-content: flex-end;
    left: 0;
    padding: 1em 4em;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}

header>:first-child {
    flex-grow: 1;
}

header>:first-child img {
    height: 2em;
}

header .button {
    background: seagreen;
}

header .tel {
    color: seagreen;
}

@keyframes form {
    from {
        opacity: 0;
    }

    to {
        right: 0;
    }
}

@keyframes rform {
    from {
        right: 0;
    }

    to {
        opacity: 0;
    }
}

header form {
    animation-duration: .5s;
    animation-fill-mode: both;
    background: white;
    border-left: 1px solid lightgray;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: .5em;
    width: 28em;
    padding: 4em;
    position: fixed;
    right: -28em;
    top: 0;
}

header #consult.show form {
    animation-name: form;
}

header #consult.hide form {
    animation-name: rform;
}

header form h2 {
    font-size: 1.3em;
    margin-bottom: 1em;
    margin-top: 0;
}

header form>textarea {
    flex-grow: 1;
    margin-bottom: 2em;
}