.st-flow header {
    text-align: center;
    background-color: rgba(106, 185, 255, 0.1);
    color: var(--color-light);
    padding: var(--length-padding);
}
.avatar {
    height: 5em;
    background: center / contain no-repeat url('https://ddu6.github.io/imgs/ddu-circle.svg');
}
a[href].card {
    color: var(--color-text);
}
a[href].card:hover {
    text-decoration: none;
}
.card>.desc {
    color: var(--color-light);
    font-size: var(--length-font-log);
}