#partners {
    padding-bottom: 0;
}

#partners>div:last-child {
    background: seagreen;
    color: whitesmoke;
    padding: 2em;
    position: relative;
}

#partners>div:last-child>a {
    position: absolute;
    right: 2em;
    top: -1.25em;
    background: white;
    border: 1px solid seagreen;
    width: 2.5em;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tel {
    border-bottom: 1px solid goldenrod;
    padding-bottom: .5em;
    margin: 1em 0;
    margin-top: 2em;
}

#tel>:first-child {
    color: gainsboro;
    font-size: .8em;
}

#tel>a {
    font-size: 2.1em;
    font-weight: bold;
}

#icp {
    color: gainsboro;
    margin: 1em 0;
    margin-top: 3em;
}