#products .container {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 0;
    margin: 1em 0;
    padding-top: 10%;
    padding-bottom: 150%;
    text-align: center;
}

#products h2 {
    font-size: 1.8em;
    margin: .5em 0;
}

#products h2+.desc {
    color: goldenrod;
    font-size: .8em;
    font-weight: bold;
}

#products .details {
    margin: 2em 0;
}

#products .container a {
    color: seagreen;
    font-size: 1.3em;
    font-weight: bold;
}