#strength {
    background: seagreen;
    color: whitesmoke;
}

#strength .grid {
    display: grid;
    gap: 2em;
}

#strength .grid .cover {
    background: black;
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

#strength .grid>.show .cover {
    display: block;
}

#strength .grid>:nth-child(2) .cover {
    background: darkslategray;
}

#strength .grid .container {
    display: none;
    height: calc(50vw - 2em);
    left: 2em;
    position: fixed;
    right: 2em;
    top: 6em;
}

#strength .grid>.show .container {
    animation-duration: .25s;
    animation-fill-mode: both;
    animation-name: zoom;
    display: block;
}

#strength img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

#strength .grid>:nth-child(1)::before {
    content: url(../icons/g1.svg);
}

#strength .grid>:nth-child(2)::before {
    content: url(../icons/g2.svg);
}

#strength .grid>:nth-child(3)::before {
    content: url(../icons/g3.svg);
}

#strength .grid>:nth-child(4)::before {
    content: url(../icons/g4.svg);
}

#strength .grid>:nth-child(5)::before {
    content: url(../icons/g5.svg);
}

#strength .grid>:nth-child(6)::before {
    content: url(../icons/g6.svg);
}

#strength .grid>:nth-child(7)::before {
    content: url(../icons/g7.svg);
}

#strength .grid>:nth-child(8)::before {
    content: url(../icons/g8.svg);
}

#strength h2 {
    font-size: 1em;
    margin: 1em 0;
}

#strength .grid>.show h2 {
    left: 2em;
    position: fixed;
    top: calc(50vw + 4em);
}

#strength .grid>.show h2::before {
    content: url(../icons/up.svg);
    display: block;
    margin: 1em 0;
}

#strength .details {
    color: gainsboro;
}

#strength .grid>.show .details {
    display: none;
}