@import url(css/root.css);

a,
a:hover {
    color: inherit;
    text-decoration: none;
}

button,
.button,
input[type="submit"] {
    background: black;
    border: none;
    color: whitesmoke;
    cursor: pointer;
    display: inline-block;
    font: inherit;
    padding: .5em 1em;
}

button:hover,
.button:hover,
input[type="submit"]:hover {
    color: whitesmoke;
    filter: brightness(1.2);
}

input,
textarea {
    border: 1px solid lightgray;
    color: inherit;
    font: inherit;
    padding: 0 .25em;
}

input:focus,
select:focus,
textarea:focus {
    border-color: seagreen;
    outline: none;
}

textarea {
    min-height: 7.5em;
    resize: none;
}

header {
    align-items: center;
    background: rgb(255 255 255 / .5);
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 1em 4em;
    justify-content: flex-end;
    left: 0;
    min-height: 4em;
    padding: 1em 4em;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}

header>:first-child {
    flex-grow: 1;
}

header>:first-child img {
    height: 2em;
}

header .button {
    background: seagreen;
}

header .tel {
    color: seagreen;
}

header form {
    background: white;
    border-left: solid 1px lightgray;
    bottom: 0;
    display: none;
    flex-direction: column;
    gap: .5em;
    min-width: 18em;
    padding: 4em;
    position: fixed;
    right: 0;
    top: 0;
}

header form>* {
    display: block;
}

header form>textarea {
    flex-grow: 1;
    margin-bottom: 1.5em;
}

main {
    --color-light: gray;
    overflow-x: auto;
    display: flex;
}

main>div {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    height: 100vh;
    justify-content: space-between;
    min-width: 100vw;
    padding: 0 2em;
}

main>div>div {
    padding: 0 2em;
}

main h1 {
    border-bottom: solid 2px goldenrod;
    color: var(--color-light);
    font-size: 1em;
    font-weight: normal;
    letter-spacing: 2em;
    margin: 1em 0;
    padding: .5em 0;
}

main h1+.desc {
    font-size: 2.8em;
    font-weight: bold;
}

main img.big {
    max-height: 100%;
    max-width: 50vw;
}

main>:first-child {
    background: center / cover no-repeat url(imgs/main.jpg);
}

main>:first-child h1 {
    color: seagreen;
}

#products h2 {
    border-bottom: solid 2px goldenrod;
    font-size: 2.1em;
    letter-spacing: .5em;
    margin: .5em 0;
    padding: .5em 0;
}

#products h2>div:last-child::after {
    background: goldenrod;
    content: "";
    display: inline-block;
    height: .3em;
    margin-left: .5em;
    width: .3em;
}

#products h2+.desc {
    color: var(--color-light);
    letter-spacing: 1em;
}

#products .details {
    margin: 2em 0;
}

#strength {
    --color-light: gainsboro;
    background: seagreen;
    color: whitesmoke;
}

#strength .grid {
    display: grid;
    gap: 1em;
    grid-template-columns: 18em 18em 18em 18em;
}

#strength .grid>:nth-child(1)::before {
    content: url(icons/g1.svg);
}

#strength .grid>:nth-child(2)::before {
    content: url(icons/g2.svg);
}

#strength .grid>:nth-child(3)::before {
    content: url(icons/g3.svg);
}

#strength .grid>:nth-child(4)::before {
    content: url(icons/g4.svg);
}

#strength .grid>:nth-child(5)::before {
    content: url(icons/g5.svg);
}

#strength .grid>:nth-child(6)::before {
    content: url(icons/g6.svg);
}

#strength .grid>:nth-child(7)::before {
    content: url(icons/g7.svg);
}

#strength .grid>:nth-child(8)::before {
    content: url(icons/g8.svg);
}

#strength h2 {
    font-size: 1em;
    margin: 1em 0;
}

#strength .details {
    color: var(--color-light);
}

#history h2 {
    font-size: 1.8em;
    margin: .5em 0;
}

#history .path {
    padding: 0;
    position: relative;
    margin-right: 20em;
}

#history .path>svg>path {
    fill: none;
    stroke-dasharray: .15 .3;
    stroke-width: .15;
}

#history .path>svg>rect {
    fill: white;
    height: .4px;
    stroke: seagreen;
    stroke-width: .1;
    width: .4px;
}

#history .path>div {
    padding-bottom: 2em;
    position: absolute;
    width: 15em;
}

#partners>div:last-child {
    --color-light: gainsboro;
    background: seagreen;
    box-sizing: border-box;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    margin-right: -2em;
    padding: 4em;
    text-align: right;
}

#tel {
    border-bottom: solid 1px goldenrod;
    padding-bottom: 1em;
    margin-bottom: 3em;
    position: relative;
}

#tel::before {
    content: url(icons/tel.svg);
    left: 0;
    position: absolute;
    top: 0;
    width: 3em;
}

#tel>:first-child {
    color: var(--color-light);
    font-size: .8em;
}

#icp {
    color: var(--color-light);
    margin: 1em 0;
}

@keyframes footer {
    50% {
        padding-bottom: 1.5em;
    }

    to {
        color: lightgray;
        padding-bottom: 1.5em;
    }
}

@keyframes rfooter {
    from {
        color: lightgray;
        padding-bottom: 1.5em;
    }

    50% {
        padding-bottom: 1.5em;
    }
}

footer {
    align-items: center;
    animation-duration: 1s;
    animation-fill-mode: both;
    bottom: 0;
    box-sizing: border-box;
    color: transparent;
    display: flex;
    gap: 1em 4em;
    justify-content: space-between;
    left: 0;
    letter-spacing: .5em;
    padding: 0 4em;
    position: fixed;
    width: 100vw;
}

footer:hover {
    animation-name: footer;
}

footer:not(:hover) {
    animation-name: rfooter;
}

footer>* {
    flex-grow: 1;
    font-size: .8em;
    text-align: center;
}

footer>:hover {
    opacity: 1 !important;
}